@use 'config';
@use 'sass:color';

// to use in inheritance
%btn {
	display: inline-block;
	border-radius: 5px;
	padding: 8px 20px;
	margin: 3px;
	&:hover {
		transform: scale(0.9);
	}
}

.btn-primary {
	@extend %btn;
	@include config.set-background(
		color.scale(config.$primary-color, $lightness: 10%)
	);
}

.btn-secondary {
	@extend %btn;
	@include config.set-background(
		color.scale(config.$secondary-color, $lightness: 10%)
	);
}
