@theme {
	--color-primary: #1e488b;
	--color-secondary: #ff8700;
	--color-light: #f4f4f4;
	--color-primary-light: color-mix(in srgb, var(--color-primary) 90%, white);
	--font-stack: var(--font-lato, 'Lato', sans-serif);
	--text-color-on-primary-light: var(--color-light);
}

.m-1 {
	@apply m-4;
}
.my-1 {
	@apply mx-0 my-4;
}
.p-1 {
	@apply mx-0 my-4;
}
.py-1 {
	@apply mx-0 my-4;
}
.m-2 {
	@apply m-8;
}
.my-2 {
	@apply mx-0 my-8;
}
.p-2 {
	@apply mx-0 my-8;
}
.py-2 {
	@apply mx-0 my-8;
}
.m-3 {
	@apply m-12;
}
.my-3 {
	@apply mx-0 my-12;
}
.p-3 {
	@apply mx-0 my-12;
}
.py-3 {
	@apply mx-0 my-12;
}
.m-4 {
	@apply m-16;
}
.my-4 {
	@apply mx-0 my-16;
}
.p-4 {
	@apply mx-0 my-16;
}
.py-4 {
	@apply mx-0 my-16;
}
.m-5 {
	@apply m-20;
}
.my-5 {
	@apply mx-0 my-20;
}
.p-5 {
	@apply mx-0 my-20;
}
.py-5 {
	@apply mx-0 my-20;
}
