@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import "config";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6;
}

.showcase {
    @include set-background($primary-color);
    height: 550px;
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;        
        ul {
            display: flex;
            list-style-type: none;
        }

        li {
            padding: 15px;
        }

        #linked-in-li {
            padding: 0;
            margin: 5px 5px 0 0;
        }

        a:hover {
            color: $secondary-color;
        }

        a {
            color: set-text-color($primary-color);
            text-decoration: none;
        }
        img:hover {
            transform: scale(0.85);
        }
    }
 
    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        img {
            width: 25%;
            border-radius: 50%;
            margin:0 35%;
        }

        h2 {
          line-height: 1;
        }

        p {
            line-height: 2;
        }

        a {
            color: set-text-color($primary-color);
            text-decoration: none;
        }
    }
}

main {
    a {
        img {
            margin:0 550px;
        }
        img:hover {
            transform: scale(0.85);
        }
    }
    h2 {
        margin-top: 100px;
        margin-bottom: 150px;
        font-family: $font-stack;
        text-align: center;
    }
}

#footer {
    text-align: center;
    margin-top: 5px;

    footer {
        p {
            color: rgba(10, 2, 2, 0.596)
        }
    }
}

@import "utilities";
@import "buttons";
@import "mobile";